In [4]:
import pandas as pd

In [10]:
countries_values = ['Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda',
             'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
             'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
             'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia']

life_expectancy_values = [74.7,  75. ,  83.4,  57.6,  74.6,  75.4,  72.3,  81.5,  80.2,
                          70.3,  72.1,  76.4,  68.1,  75.2,  69.8,  79.4,  70.8,  62.7,
                          67.3,  70.6]

gdp_values = [ 1681.61390973,   2155.48523109,  21495.80508273,    562.98768478,
              13495.1274663 ,   9388.68852258,   1424.19056199,  24765.54890176,
              27036.48733192,   1945.63754911,  21721.61840978,  13373.21993972,
                483.97086804,   9783.98417323,   2253.46411147,  25034.66692293,
               3680.91642923,    366.04496652,   1175.92638695,   1132.21387981]

In [12]:
countries = pd.Series(countries_values)
life_expectancy = pd.Series(life_expectancy_values)
gdp = pd.Series(gdp_values)

In [13]:
life_expectancy[0]

74.7

In [14]:
gdp[3:6]

3      562.987685
4    13495.127466
5     9388.688523
dtype: float64

In [15]:
countries[7:]

7      Australia
8        Austria
9     Azerbaijan
10       Bahamas
11       Bahrain
12    Bangladesh
13      Barbados
14       Belarus
15       Belgium
16        Belize
17         Benin
18        Bhutan
19       Bolivia
dtype: object

In [16]:
for i in range(len(countries)):
    print("Life expectancy of {} for {}".format(life_expectancy[i], countries[i]))

Life expectancy of 74.7 for Albania
Life expectancy of 75.0 for Algeria
Life expectancy of 83.4 for Andorra
Life expectancy of 57.6 for Angola
Life expectancy of 74.6 for Antigua and Barbuda
Life expectancy of 75.4 for Argentina
Life expectancy of 72.3 for Armenia
Life expectancy of 81.5 for Australia
Life expectancy of 80.2 for Austria
Life expectancy of 70.3 for Azerbaijan
Life expectancy of 72.1 for Bahamas
Life expectancy of 76.4 for Bahrain
Life expectancy of 68.1 for Bangladesh
Life expectancy of 75.2 for Barbados
Life expectancy of 69.8 for Belarus
Life expectancy of 79.4 for Belgium
Life expectancy of 70.8 for Belize
Life expectancy of 62.7 for Benin
Life expectancy of 67.3 for Bhutan
Life expectancy of 70.6 for Bolivia

In [17]:
life_expectancy.mean()

72.86999999999999

In [20]:
gdp.std(), gdp.sum(), gdp.max()

(9763.958972533614, 182957.59832967006, 27036.48733192)

In [21]:
a = pd.Series([1, 2, 3, 4])
b = pd.Series([1, 2, 1, 2])

In [22]:
a + b

0    2
1    4
2    4
3    6
dtype: int64

In [23]:
a ** 2

0     1
1     4
2     9
3    16
dtype: int64

In [25]:
a > 2

0    False
1    False
2     True
3     True
dtype: bool

In [26]:
a[a > 2]

2    3
3    4
dtype: int64

In [30]:
'''
    Write a function to calculate the number of data points for which
    the directions of one and two relative to the mean are the
    same, and the number of data points for which they are different.
    Direction here means whether each value is above or below its mean.
    
    You can classify cases where the value is equal to the mean for one or
    both variables however you like.
    
    Each argument will be a Pandas series.
    
    For example, if the inputs were pd.Series([1, 2, 3, 4]) and
    pd.Series([4, 5, 6, 7]), then the output would be (4, 0).
    This is because 1 and 4 are both below their means, 2 and 5 are both
    below, 3 and 6 are both above, and 4 and 7 are both above.
    
    On the other hand, if the inputs were pd.Series([1, 2, 3, 4]) and
    pd.Series([7, 6, 5, 4]), then the output would be (0, 4).
    This is because 1 is below its mean but 7 is above its mean, and
    so on.
'''

def variable_cor(one, two):
    bool_one = one > one.mean()
    bool_two = two > two.mean()
    
    return (sum(bool_one != bool_two), sum(bool_one == bool_two))

x = pd.Series([1, 2, 3, 4])
y = pd.Series([4, 5, 6, 7])

variable_cor(x, y)

(0, 4)

In [31]:
countries = [
    'Afghanistan', 'Albania', 'Algeria', 'Angola',
    'Argentina', 'Armenia', 'Australia', 'Austria',
    'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
    'Barbados', 'Belarus', 'Belgium', 'Belize',
    'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
]


employment_values = [
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076,
]

employment = pd.Series(employment_values, index=countries)

In [34]:
employment

Afghanistan               55.700001
Albania                   51.400002
Algeria                   50.500000
Angola                    75.699997
Argentina                 58.400002
Armenia                   40.099998
Australia                 61.500000
Austria                   57.099998
Azerbaijan                60.900002
Bahamas                   66.599998
Bahrain                   60.400002
Bangladesh                68.099998
Barbados                  66.900002
Belarus                   53.400002
Belgium                   48.599998
Belize                    56.799999
Benin                     71.599998
Bhutan                    58.400002
Bolivia                   70.400002
Bosnia and Herzegovina    41.200001
dtype: float64

In [36]:
employment.idxmax()

'Angola'

In [37]:
employment.values.argmax()

3

In [38]:
employment[3]

75.69999695

In [39]:
employment[employment.idxmax()]

75.69999695

In [51]:
s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
s2 = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])

In [52]:
s1 + s2

a    11
b    22
c    33
d    44
dtype: int64

In [53]:
s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
s2 = pd.Series([10, 20, 30, 40], index=['b', 'a', 'c', 'd'])

In [54]:
s1 + s2

a    21
b    12
c    33
d    44
dtype: int64

In [55]:
s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
s2 = pd.Series([10, 20, 30, 40], index=['c', 'd', 'e', 'f'])

s1 + s2

a     NaN
b     NaN
c    13.0
d    24.0
e     NaN
f     NaN
dtype: float64

In [56]:
s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
s2 = pd.Series([10, 20, 30, 40], index=['e', 'f', 'g', 'h'])

s1 + s2

a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
f   NaN
g   NaN
h   NaN
dtype: float64

In [57]:
s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
s2 = pd.Series([10, 20, 30, 40], index=['e', 'f', 'g', 'h'])

s1.add(s2, fill_value=0)

a     1.0
b     2.0
c     3.0
d     4.0
e    10.0
f    20.0
g    30.0
h    40.0
dtype: float64

In [58]:
s = pd.Series([1, 2, 3, 4, 5])

In [61]:
s.apply(lambda x: x + 2)

0    3
1    4
2    5
3    6
4    7
dtype: int64

In [82]:
names = pd.Series([
    'Andre Agassi',
    'Barry Bonds',
    'Christopher Columbus',
    'Daniel Defoe',
    'Emilio Estevez',
    'Fred Flintstone',
    'Greta Garbo',
    'Humbert Humbert',
    'Ivan Ilych',
    'James Joyce',
    'Keira Knightley',
    'Lois Lane',
    'Mike Myers',
    'Nick Nolte',
    'Ozzy Osbourne',
    'Pablo Picasso',
    'Quirinus Quirrell',
    'Rachael Ray',
    'Susan Sarandon',
    'Tina Turner',
    'Ugueth Urbina',
    'Vince Vaughn',
    'Woodrow Wilson',
    'Yoji Yamada',
    'Zinedine Zidane'
])

'''
Fill in this function to return a new series where each name
in the input series has been transformed from the format
"Firstname Lastname" to "Lastname, FirstName".

Try to use the Pandas apply() function rather than a loop.
'''

names.apply(lambda name: ", ".join(name.split()[::-1]))

SyntaxError: unexpected EOF while parsing (4258427096.py, line 37)

In [81]:
test = ["Andre", "Agassi"]

test.reverse()

test

['Agassi', 'Andre']